{% include "includes/head.html" %}
    <title> {{ g.brand }} - Dashboard</title>
</head>

<!-- corpo do site -- >
<body>
    <!-- menu superior (fixado) -->
{% include "includes/menu.html" %}
    <!-- fim do menu superior (fixado) -->



    <!-- inicio div de chamada do site -->
{% include "admin/includes/chamada.html" %}
    <!-- fim div de chamada do site -->


    <!-- (new) inicio div de corpo do site -->
    <div class="jumbotron-fluid">
        <div class="container">
            <section class="my-5">
                <h2 class="h1-responsive font-weight-bold text-center my-5">Rascunhos de Posts</h2>

                {% if posts == [] %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    Nenhum post encontrado!
                </div>
                {% endif %}
                <!-- lista de posts -->
                {% include "includes/mostrar-posts.html" %}
                <!-- fim da lista de posts-->
            </section>
        </div>
    </div>
    <!-- (new) fim div de corpo do site -->


    <!-- rodapé do site -->
{% include "includes/rodape.html" %}