{% include "includes/head.html" %}
    <title> The Science's on the Table - Usuários</title>
</head>

<!-- corpo do site -- >
<body>
    <!-- menu superior (fixado) -->
{% include "includes/menu.html" %}
    <!-- fim do menu superior (fixado) -->



    <!-- inicio div de chamada do site -->
{% include "admin/includes/chamada.html" %}
    <!-- fim div de chamada do site -->


    <!-- (new) inicio div de corpo do site -->
    <div class="jumbotron-fluid">
        <div class="container">
            <section class="my-5">
                <h2 class="h1-responsive font-weight-bold text-center my-5">Autores do Blog</h2>

                {% if autores == [] %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    Nenhum autor encontrado
                </div>
                {% endif %}
                <!-- lista de autores -->
                <!-- autor #1 -->
                {% for autor in autores %}
                {% set foto = "/static/{}".format(autor[9]) %}
                {% set nome = autor[1] + " " + autor[2] %}
                <div class="row">
                    <!-- div da imagem -->
                    <div class="col-lg-5 col-xl-4">
                        <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                            <img class="img-fluid" src="{{ foto }}" alt="{{ nome }}" title="{{ nome }}">
                        </div>
                    </div>
                    <!-- fim div da imagem -->

                    <!-- div do texto -->
                    <div class="col-lg-7 col-xl-8">
                        <h3 class="font-weight-bold mb-3">{{ nome }}</h3>
                        <p class="dark-grey-text">{{ autor[7] }}</p>
                        <a class="fa-lg fb-ic" href="{{ autor[3] }}" target="_blank" style="color: #133d06;">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a class="fa-lg ins-ic" href="{{ autor[4] }}" target="_blank" style="color: #133d06;">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="fa-lg git-ic" href="{{ autor[5] }}" target="_blank" style="color: #133d06;">
                            <i class="fab fa-github"></i>
                        </a>
                        <a class="fa-lg li-ic" href="{{ autor[6] }}" target="_blank" style="color: #133d06;">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <br>
                        <br>
                        {% if g.user == autor[10] %}
                        <a class="btn btn-info" style="color:white;" role="button">Editar Perfil</a>
                        {% endif %}
                    </div>
                    <!-- fim div do texto -->
                </div>

                <hr class="my-5">
                {% endfor %}
                
                <!-- fim da lista de posts-->
            </section>
        </div>
    </div>
    <!-- (new) fim div de corpo do site -->


    <!-- rodapé do site -->
{% include "includes/rodape.html" %}