    <footer class="page-footer font-small" style="color: white;">
        <!-- elementos do rodapé -->
        <div style="background-color: #2d7218;">
            <div class="container">
                <div class="row py-4 d-flex align-items-center">
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0">Visite nossas redes sociais:</h6>
                    </div>
                    <div class="col-md-6 col-lg-7 text-center text-md-right">
                        <a class="fb-ic fa-lg" href="#" style="color: white;">
                            <i class="fab fa-facebook white-text mr-4"> </i>
                        </a>
                        <a class="tw-ic fa-lg" href="#" style="color: white;">
                            <i class="fab fa-twitter white-text mr-4"> </i>
                        </a>
                        <a class="ins-ic fa-lg" href="http://instagram.com/scienceonthetable" target="_blank" style="color: white;">
                            <i class="fab fa-instagram white-text mr-4"> </i>
                        </a>
                        <a class="yt-ic fa-lg" href="#" style="color: white;">
                            <i class="fab fa-youtube white-text"> </i>
                        </a>

                    </div>

                </div>

            </div>
        </div>
        <!-- copyright -->
        <div class="footer-copyright text-center py-3" style="background-color: #133d06;">
            <span id="copyright">© 2018 Copyright: The Science's on the Table</span>
        </div>
    </footer>


    <!-- JS do jQuery + Popper.js + Bootstrap (CDN) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- js do ano -->
    <script type="text/javascript" src="{{url_for('.static', filename='js/copyright.js')}}"></script>
</body>

</html>