{% include "includes/head.html" %}

    <title>The Science's on the Table - Busca</title>
</head>

<body>
{% include "includes/menu.html" %}

{% include "includes/chamada.html" %}

    <div class="jumbotron-fluid">
        <div class="container">
            <section class="my-5">
                <h2 class="h1-responsive font-weight-bold text-center my-5">Posts</h2>
                <div class="container" style="margin-bottom: 10px;">
                    <form method="get" action="/busca">
                        <div class="row no-gutters">
                            <div class="col">
                                <input class="form-control border-secondary border-right-0 rounded-0" type="search" placeholder="Buscar" required id="pesquisa" name="q" value="{{ q }}">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                {% if posts == [] %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    Desculpe, nenhum post encontrado
                </div>
                {% endif %}
                <!-- lista de posts -->
                {% include "includes/mostrar-posts.html" %}
                <!-- fim da lista de posts-->
            </section>
        </div>
    </div>
    <!-- (new) fim div de corpo do site -->

{% include "includes/rodape.html" %}