{% include "includes/head.html" %}

    <title>{{ g.brand }} - Contato</title>
</head>

<body>
{% include "includes/menu.html" %}

{% include "includes/chamada.html" %}

    <div class="jumbotron-fluid">
        <div class="container">
            <!-- form de contato -->
            <div class="form-area">
                <form role="form" method="POST">
                    <h2 class="h1-responsive font-weight-bold text-center my-5">Contato</h2>
                    {% if msg == 1 %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        Mensagem enviada!
                    </div>
                    {% endif %}
                    <!-- campo nome-->
                    <div class="form-group">
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
                    </div>
                    <!-- campo email-->
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" name="email" placeholder="E-mail">
                    </div>
                    <!-- campo mensagem -->
                    <div class="form-group">
                        <textarea class="form-control" name="msg" type="textarea" id="msg" placeholder="Mensagem" maxlength="500" rows="7"></textarea>
                        <span class="help-block">
                            <p id="charsrestantes" class="help-block">Você atingiu o limite</p>
                        </span>
                    </div>
                    <!-- botão de envio -->
                    <button type="submit" id="enviar" name="enviar" class="btn btn-success pull-right">Enviar</button>
                </form>

            </div>
        </div>
    </div>

{% include "includes/rodape.html" %}

<!-- script de caracteres restantes -->
<script src="{{url_for('.static', filename='js/caracteres-restantes.js')}}"></script>