{% include "includes/head.html" %}

    <title>The Science's on the Table - Contato</title>
</head>

<body>
{% include "includes/menu.html" %}

{% include "includes/chamada.html" %}

    <div class="jumbotron-fluid">
        <div class="container">
            <!-- form de contato -->
            <div class="form-area">
                <form role="form">
                    <h2 class="h1-responsive font-weight-bold text-center my-5">Contato</h2>
                    <!-- campo nome-->
                    <div class="form-group">
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
                    </div>
                    <!-- campo email-->
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" name="email" placeholder="E-mail">
                    </div>
                    <!-- campo mensagem -->
                    <div class="form-group">
                        <textarea class="form-control" type="textarea" id="msg" placeholder="Mensagem" maxlength="500" rows="7"></textarea>
                        <span class="help-block">
                            <p id="charsrestantes" class="help-block">Você atingiu o limite</p>
                        </span>
                    </div>
                    <!-- botão de envio -->
                    <button type="button" id="enviar" name="enviar" class="btn btn-success pull-right">Enviar</button>
                </form>

            </div>
        </div>
    </div>

{% include "includes/rodape.html" %}

<!-- script de caracteres restantes -->
<script src="{{url_for('.static', filename='js/caracteres-restantes.js')}}"></script>