{% include "includes/head.html" %}

    <title>{{ g.brand }} - Página Inicial</title>
</head>

<body>
{% include "includes/menu.html" %}

{% include "includes/chamada.html" %}

    <div class="jumbotron-fluid">
        <div class="container">
            <section class="my-5">
                <h2 class="h1-responsive font-weight-bold text-center my-5">Últimos Posts</h2>

                {% if posts == [] %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    Desculpe, ainda não temos nenhum post
                </div>
                {% endif %}
                <!-- lista de posts -->
                {% include "includes/mostrar-posts.html" %}
                <!-- fim da lista de posts-->
            </section>
        </div>
    </div>
    <!-- (new) fim div de corpo do site -->

{% include "includes/rodape.html" %}
<!-- script de limitar caracteres -->
<script src="{{url_for('.static', filename='js/limitar-post.js')}}"></script>