{% include "includes/head.html" %}

    <title>The Science's on the Table - Sobre</title>
</head>

<body>
{% include "includes/menu.html" %}

{% include "includes/chamada.html" %}

    <div class="jumbotron-fluid">
        <div class="container">
            <!-- sobre o blog -->
            <section class="my-5">
                <h2 class="h1-responsive font-weight-bold text-center my-5">Sobre o Blog</h2>
                <p class="dark-grey-text">Esse blog foi criado por acadêmicos de Ciência da Computação da Universidade Estadual do Ceará e tem como objetivo divulgar para fora do meio universitário o que é a Ciência da Computação e qual a importância dela.</p>
            </section>
            <!-- sobre os autores -->
            <section class="team-section my-5">
                <h2 class="h1-responsive font-weight-bold text-center my-5">Nossa Equipe</h2>
                <p class="grey-text text-center w-responsive mx-auto mb-5">Estes são os criadores e autores do blog:</p> 

                <!-- exibir autores em linha -->
                <div class="row text-center text-md-left">
                    {% for usuario in usuarios %}
                    <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
                        <!-- foto -->
                        <div class="avatar mb-md-0 mb-4 mx-4">
                            <img src="{{url_for('.static', filename='img/bia.jpg')}}" class="img-fluid rounded z-depth-1" alt="{{ usuario[1] }} {{ usuario[2] }}" title="{{ usuario[1] }} {{ usuario[2] }}">
                        </div>
                        <!-- descrição -->
                        <div class="mx-4">
                            <h4 class="font-weight-bold mb-3">{{ usuario[1] }} {{ usuario[2] }}</h4>
                            <h6 class="font-weight-bold grey-text mb-3">{{ usuario[8] }}</h6>
                            <p class="grey-text">{{ usuario[7] }}</p>
                            <!-- redes sociais -->
                            <a class="fa-lg fb-ic" href="{{ usuario[3] }}" target="_blank" style="color: #133d06;">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a class="fa-lg ins-ic" href="{{ usuario[4] }}" target="_blank" style="color: #133d06;">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="fa-lg git-ic" href="{{ usuario[5] }}" target="_blank" style="color: #133d06;">
                                <i class="fab fa-github"></i>
                            </a>
                            <a class="fa-lg li-ic" href="{{ usuario[6] }}" target="_blank" style="color: #133d06;">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div> 
            </section>
        </div>
    </div>

{% include "includes/rodape.html" %}