{% include "includes/head.html" %}

    <title>{{ g.brand }} - Sobre</title>
</head>

<body>
{% include "includes/menu.html" %}

{% include "includes/chamada.html" %}

    <div class="jumbotron-fluid">
        <div class="container">
            <!-- sobre o blog -->
            <section class="my-5">
                <h2 class="h1-responsive font-weight-bold text-center my-5">Sobre o Blog</h2>
                <p class="dark-grey-text lead">O {{ g.brand }} foi criado com o objetivo de divulgar a Ciência da Computação, produzindo conteúdos de diversas áreas relacionadas à tecnologia. Aqui você irá encontrar tutoriais, discussões, textos opinativos, divulgação científica, dicas e muito mais!</p>
                <p class="dark-grey-text lead">Seja você um programador inexperiente, alguém que pensa em cursar Ciência da Computação ou alguém com anos de carreira, esse blog é feito para você! Tire suas dúvidas, descubra novas tecnologias, linhas de pesquisa e tudo sobre o fascinante mundo da Ciência da Computação.</p>
            </section>
            <!-- sobre os autores -->
            <section class="team-section my-5">
                <h2 class="h1-responsive font-weight-bold text-center my-5">Nossa Equipe</h2>

                {% include "includes/mostrar-usuarios.html" %}
            </section>
        </div>
    </div>

{% include "includes/rodape.html" %}