{% include "includes/head.html" %}

    <title>{{ g.brand }} - Sobre</title>
</head>

<body>
{% include "includes/menu.html" %}

{% include "includes/chamada.html" %}

    <div class="jumbotron-fluid">
        <div class="container">
            <!-- sobre o blog -->
            <section class="my-5">
                <h2 class="h1-responsive font-weight-bold text-center my-5">Sobre o Blog</h2>
                <p class="dark-grey-text">Esse blog foi criado por acadêmicos de Ciência da Computação da Universidade Estadual do Ceará e tem como objetivo divulgar para fora do meio universitário o que é a Ciência da Computação e qual a importância dela.</p>
            </section>
            <!-- sobre os autores -->
            <section class="team-section my-5">
                <h2 class="h1-responsive font-weight-bold text-center my-5">Nossa Equipe</h2>

                {% include "includes/mostrar-usuarios.html" %}
            </section>
        </div>
    </div>

{% include "includes/rodape.html" %}